<div class="modal-header">
  <button type="button" class="close" aria-hidden="true" ng-click="$dismiss()">&times;</button>
  <h4 class="modal-title">Persoon of huisgezin toevoegen?</h4>
</div>
<div class="modal-body">
  Deze persoon is al lid van een ander huisgezin. Wil je dat hele huisgezin toevoegen of alleen deze persoon?
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$close(false)">Persoon</button>
  <button type="button" class="btn btn-primary" ng-click="$close(true)">Huisgezin</button>
</div>
